.coh-accordion-tabs:before, .coh-accordion-tabs:after {
  clear: both;
  content: " ";
  display: table;
}
.coh-accordion-tabs-nav {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  display: none;
}
.coh-accordion-tabs-nav > li {
  display: inline-block;
  vertical-align: top;
}
.coh-accordion-tabs-nav > li a {
  display: block;
}
.coh-accordion-tabs-nav > li.is-hidden {
  display: none;
}
.coh-accordion-tabs-content {
  display: none;
}
.coh-accordion-tabs-horizontal-left > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav {
  text-align: left;
  padding: 0;
}
.coh-accordion-tabs-horizontal-center > .coh-accordion-tabs-nav {
  text-align: center;
  padding: 0;
}
.coh-accordion-tabs-horizontal-right > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav {
  text-align: right;
  padding: 0;
}
.coh-accordion-tabs-horizontal-justify > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
  margin: 0 auto;
  padding: 0;
}
.coh-accordion-tabs-horizontal-justify > .coh-accordion-tabs-nav > li, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav > li {
  display: table-cell;
  width: 1%;
  text-align: center;
}
.coh-accordion-tabs-vertical-left > .coh-accordion-tabs-nav > li, .coh-accordion-tabs-vertical-right > .coh-accordion-tabs-nav > li {
  display: block;
}
.coh-accordion-tabs-vertical-left > .coh-accordion-tabs-nav {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.coh-accordion-tabs-vertical-left > .coh-accordion-tabs-content-wrapper {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.coh-accordion-tabs-vertical-right > .coh-accordion-tabs-nav {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.coh-accordion-tabs-vertical-right > .coh-accordion-tabs-content-wrapper {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
  max-width: none;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
@media (min-width: 565px) {
  .coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
    max-width: none;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}
@media (min-width: 768px) {
  .coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
    max-width: none;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
  }
}
@media (min-width: 1024px) {
  .coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
    margin: 0 auto;
    max-width: 53.375rem;
  }
}
@media (min-width: 1170px) {
  .coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
    margin: 0 auto;
    max-width: 53.125rem;
  }
}
@media (min-width: 1400px) {
  .coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-nav, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-nav {
    margin: 0 auto;
    max-width: 53.125rem;
  }
}
.coh-accordion-tabs-horizontal-left-grid > .coh-accordion-tabs-content-wrapper, .coh-accordion-tabs-horizontal-right-grid > .coh-accordion-tabs-content-wrapper, .coh-accordion-tabs-horizontal-justify-grid > .coh-accordion-tabs-content-wrapper {
  clear: both;
}
.coh-accordion-tabs-display-accordion-xs > .coh-accordion-tabs-nav {
  display: none;
}
.coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-xs > .coh-accordion-tabs-nav {
  display: none;
}
.coh-accordion-tabs-display-accordion-xs > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
  display: block;
}
.coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-xs > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
  display: block;
}
.coh-accordion-tabs-display-accordion-xs > .coh-accordion-tabs-content-wrapper .coh-accordion-title.is-hidden {
  display: none;
}
.coh-accordion-tabs > .coh-accordion-tabs-inner > .coh-accordion-tabs-display-inner-accordion-xs {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
.coh-accordion-tabs-display-tabs-xs > .coh-accordion-tabs-nav {
  display: block;
}
.coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-xs > .coh-accordion-tabs-nav {
  display: block;
}
.coh-accordion-tabs-display-tabs-xs > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
  display: none;
}
.coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-xs > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
  display: none;
}
@media (min-width: 565px) {
  .coh-accordion-tabs-display-accordion-ps > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-ps > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs-display-accordion-ps > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-ps > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs-display-accordion-ps > .coh-accordion-tabs-content-wrapper .coh-accordion-title.is-hidden {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner > .coh-accordion-tabs-display-inner-accordion-ps {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .coh-accordion-tabs-display-tabs-ps > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-ps > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs-display-tabs-ps > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-ps > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
}
@media (min-width: 768px) {
  .coh-accordion-tabs-display-accordion-sm > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-sm > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs-display-accordion-sm > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-sm > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs-display-accordion-sm > .coh-accordion-tabs-content-wrapper .coh-accordion-title.is-hidden {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner > .coh-accordion-tabs-display-inner-accordion-sm {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .coh-accordion-tabs-display-tabs-sm > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-sm > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs-display-tabs-sm > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-sm > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
}
@media (min-width: 1024px) {
  .coh-accordion-tabs-display-accordion-md > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-md > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs-display-accordion-md > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-md > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs-display-accordion-md > .coh-accordion-tabs-content-wrapper .coh-accordion-title.is-hidden {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner > .coh-accordion-tabs-display-inner-accordion-md {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .coh-accordion-tabs-display-tabs-md > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-md > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs-display-tabs-md > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-md > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
}
@media (min-width: 1170px) {
  .coh-accordion-tabs-display-accordion-lg > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-lg > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs-display-accordion-lg > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-lg > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs-display-accordion-lg > .coh-accordion-tabs-content-wrapper .coh-accordion-title.is-hidden {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner > .coh-accordion-tabs-display-inner-accordion-lg {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .coh-accordion-tabs-display-tabs-lg > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-lg > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs-display-tabs-lg > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-lg > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
}
@media (min-width: 1400px) {
  .coh-accordion-tabs-display-accordion-xl > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-xl > .coh-accordion-tabs-nav {
    display: none;
  }
  .coh-accordion-tabs-display-accordion-xl > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-accordion-xl > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: block;
  }
  .coh-accordion-tabs-display-accordion-xl > .coh-accordion-tabs-content-wrapper .coh-accordion-title.is-hidden {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner > .coh-accordion-tabs-display-inner-accordion-xl {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .coh-accordion-tabs-display-tabs-xl > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-xl > .coh-accordion-tabs-nav {
    display: block;
  }
  .coh-accordion-tabs-display-tabs-xl > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
  .coh-accordion-tabs > .coh-accordion-tabs-inner .coh-accordion-tabs-display-tabs-xl > .coh-accordion-tabs-content-wrapper .coh-accordion-title {
    display: none;
  }
}
