.coh-container {
  display: block;
}
.coh-container:before, .coh-container:after {
  clear: both;
  content: " ";
  display: table;
}
.coh-container-boxed {
  max-width: none;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
@media (min-width: 565px) {
  .coh-container-boxed {
    max-width: none;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}
@media (min-width: 768px) {
  .coh-container-boxed {
    max-width: none;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
  }
}
@media (min-width: 1024px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 53.375rem;
  }
}
@media (min-width: 1170px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 53.125rem;
  }
}
@media (min-width: 1400px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 53.125rem;
  }
}
.coh-container-boxed .coh-container-boxed {
  margin-right: auto;
  margin-left: auto;
}
.dx8-aov {
  visibility: hidden;
}
